body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #home {
    width: 22rem;
    background-color: #00FFFF;
    cursor: pointer;
    color: #000;
    border: 1px solid #000;
    text-align: center;
    border-radius: 8px;
    font-size: 25px;
  }